Prog6_EindOpdracht/TamagotchiUpdater/Service References/TamagotchiService/TamagotchiService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TamagotchiService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TamagotchiService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Settings">
    <xs:sequence>
      <xs:element minOccurs="0" name="CleanCountdown" type="xs:int" />
      <xs:element minOccurs="0" name="CleanValue" type="xs:int" />
      <xs:element minOccurs="0" name="CrazyRule" type="xs:boolean" />
      <xs:element minOccurs="0" name="FeedCountdown" type="xs:int" />
      <xs:element minOccurs="0" name="FeedValue" type="xs:int" />
      <xs:element minOccurs="0" name="LethargicRule" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxBoreDomIncrease" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHungerIncrease" type="xs:int" />
      <xs:element minOccurs="0" name="MaxSleepIncrease" type="xs:int" />
      <xs:element minOccurs="0" name="MinBoreDomIncrease" type="xs:int" />
      <xs:element minOccurs="0" name="MinHungerIncrease" type="xs:int" />
      <xs:element minOccurs="0" name="MinSleepIncrease" type="xs:int" />
      <xs:element minOccurs="0" name="MunchiesRule" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayCountdown" type="xs:int" />
      <xs:element minOccurs="0" name="PlayValue" type="xs:int" />
      <xs:element minOccurs="0" name="SleepCountdown" type="xs:int" />
      <xs:element minOccurs="0" name="SleepValue" type="xs:int" />
      <xs:element minOccurs="0" name="StarvingRule" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateFrequency" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
</xs:schema>