Prog6_EindOpdracht/TamagotchiUpdater/Service References/TamagotchiService/TamagotchiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TamagotchiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITamagotchiService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tamagotchiservicebenmaarten.azurewebsites.net/TamagotchiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tamagotchiservicebenmaarten.azurewebsites.net/TamagotchiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tamagotchiservicebenmaarten.azurewebsites.net/TamagotchiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamagotchiService.Data" />
      <xsd:import schemaLocation="http://tamagotchiservicebenmaarten.azurewebsites.net/TamagotchiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://tamagotchiservicebenmaarten.azurewebsites.net/TamagotchiService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TamagotchiService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITamagotchiService_GetTamagotchis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchis" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetTamagotchis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchisResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CreateTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CreateTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DeleteTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DeleteTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GeTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:GeTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GeTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentTamagotchiStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTamagotchiStatus" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentTamagotchiStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTamagotchiStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CanActionBePerformed_InputMessage">
    <wsdl:part name="parameters" element="tns:CanActionBePerformed" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CanActionBePerformed_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanActionBePerformedResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CountdownAndPerformingAction_InputMessage">
    <wsdl:part name="parameters" element="tns:CountdownAndPerformingAction" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CountdownAndPerformingAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountdownAndPerformingActionResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_FeedTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:FeedTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_FeedTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeedTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_PlayWithTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayWithTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_PlayWithTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayWithTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_SleepWithTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:SleepWithTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_SleepWithTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SleepWithTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CleanTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_CleanTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DoRotation_InputMessage">
    <wsdl:part name="parameters" element="tns:DoRotation" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_DoRotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoRotationResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetUpdateFrequency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateFrequency" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetUpdateFrequency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_ResetTamagotchis_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetTamagotchis" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_ResetTamagotchis_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetTamagotchisResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSettings" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetCurrentSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_SetSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSettings" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_SetSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSettingsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITamagotchiService">
    <wsdl:operation name="GetTamagotchis">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchis" message="tns:ITamagotchiService_GetTamagotchis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchisResponse" message="tns:ITamagotchiService_GetTamagotchis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/CreateTamagotchi" message="tns:ITamagotchiService_CreateTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/CreateTamagotchiResponse" message="tns:ITamagotchiService_CreateTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/DeleteTamagotchi" message="tns:ITamagotchiService_DeleteTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/DeleteTamagotchiResponse" message="tns:ITamagotchiService_DeleteTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GeTamagotchi" message="tns:ITamagotchiService_GeTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GeTamagotchiResponse" message="tns:ITamagotchiService_GeTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTamagotchiStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchiStatus" message="tns:ITamagotchiService_GetCurrentTamagotchiStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchiStatusResponse" message="tns:ITamagotchiService_GetCurrentTamagotchiStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanActionBePerformed">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/CanActionBePerformed" message="tns:ITamagotchiService_CanActionBePerformed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/CanActionBePerformedResponse" message="tns:ITamagotchiService_CanActionBePerformed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountdownAndPerformingAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/CountdownAndPerformingAction" message="tns:ITamagotchiService_CountdownAndPerformingAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/CountdownAndPerformingActionResponse" message="tns:ITamagotchiService_CountdownAndPerformingAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeedTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/FeedTamagotchi" message="tns:ITamagotchiService_FeedTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/FeedTamagotchiResponse" message="tns:ITamagotchiService_FeedTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayWithTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/PlayWithTamagotchi" message="tns:ITamagotchiService_PlayWithTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/PlayWithTamagotchiResponse" message="tns:ITamagotchiService_PlayWithTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SleepWithTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/SleepWithTamagotchi" message="tns:ITamagotchiService_SleepWithTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/SleepWithTamagotchiResponse" message="tns:ITamagotchiService_SleepWithTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/CleanTamagotchi" message="tns:ITamagotchiService_CleanTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/CleanTamagotchiResponse" message="tns:ITamagotchiService_CleanTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoRotation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/DoRotation" message="tns:ITamagotchiService_DoRotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/DoRotationResponse" message="tns:ITamagotchiService_DoRotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFrequency">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetUpdateFrequency" message="tns:ITamagotchiService_GetUpdateFrequency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetUpdateFrequencyResponse" message="tns:ITamagotchiService_GetUpdateFrequency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetTamagotchis">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/ResetTamagotchis" message="tns:ITamagotchiService_ResetTamagotchis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/ResetTamagotchisResponse" message="tns:ITamagotchiService_ResetTamagotchis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentSettings" message="tns:ITamagotchiService_GetCurrentSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetCurrentSettingsResponse" message="tns:ITamagotchiService_GetCurrentSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/SetSettings" message="tns:ITamagotchiService_SetSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/SetSettingsResponse" message="tns:ITamagotchiService_SetSettings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITamagotchiService" type="tns:ITamagotchiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTamagotchis">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetTamagotchis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CreateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DeleteTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GeTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTamagotchiStatus">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchiStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanActionBePerformed">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CanActionBePerformed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountdownAndPerformingAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CountdownAndPerformingAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/FeedTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayWithTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/PlayWithTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SleepWithTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/SleepWithTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CleanTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoRotation">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DoRotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFrequency">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetUpdateFrequency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetTamagotchis">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/ResetTamagotchis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSettings">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSettings">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/SetSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITamagotchiService" type="tns:ITamagotchiService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITamagotchiService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTamagotchis">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetTamagotchis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CreateTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DeleteTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GeTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTamagotchiStatus">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentTamagotchiStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanActionBePerformed">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CanActionBePerformed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountdownAndPerformingAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CountdownAndPerformingAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/FeedTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayWithTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/PlayWithTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SleepWithTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/SleepWithTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/CleanTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoRotation">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/DoRotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFrequency">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetUpdateFrequency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetTamagotchis">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/ResetTamagotchis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSettings">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetCurrentSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSettings">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/SetSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TamagotchiService">
    <wsdl:port name="BasicHttpBinding_ITamagotchiService" binding="tns:BasicHttpBinding_ITamagotchiService">
      <soap:address location="http://tamagotchiservicebenmaarten.azurewebsites.net/TamagotchiService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITamagotchiService" binding="tns:BasicHttpsBinding_ITamagotchiService">
      <soap:address location="https://tamagotchiservicebenmaarten.azurewebsites.net/TamagotchiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>